* {
  padding: 0;
  margin: 0;
  font-size: 40px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
header {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  padding: 8px 250px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
