* {
  padding: 0;
  margin: 0;
  font-size: 40px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
header {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
.Title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
p {
  font-size: 18px;
  color: #e5e7eb;
}
.intro {
  display: flex;
}
.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.text,
.Hi {
  padding: 15px;
}
.Hi {
  flex-grow: 2;
  align-self: center;
}
button {
  color: white;
  background-color: #3882f6;
  font-size: 18px;
  padding: 8px;
  border: 0;
  border-radius: 10%;
  width: 100px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 45px;
}
.images {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.image img {
  width: 150px;
  height: 150px;
  border: blue 3px solid;
  border-radius: 10%;
  padding: 5px;
}
.info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.image p {
  color: black;
}
.quote,
.info,
.hero {
  padding-left: 400px;
  padding-right: 400px;
}
.quote {
  margin-top: 100px;
  background-color: #e5e7eb;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}
.quote p {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}
#Author {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-left: auto;
}
